<?xml version="1.0"?>
<launch>

	<!-- gazebo configs -->
	<arg name="gui" default="true"/>
	<arg name="debug" default="false"/>
	<arg name="verbose" default="false"/>
	<arg name="paused" default="false"/>
	<arg name="respawn_gazebo" default="false"/>
	<arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/empty.world"/>
	<!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
    </include>

	<!-- PX4 configs -->
	<arg name="interactive" default="true"/>
	<!-- PX4 SITL -->
    <arg unless="$(arg interactive)" name="px4_command_arg1" value="-d"/>
    <arg     if="$(arg interactive)" name="px4_command_arg1" value=""/>
    <node name="sitl" pkg="px4" type="px4" output="screen"
        args="$(find px4)/build/px4_sitl_default/etc -s etc/init.d-posix/rcS $(arg px4_command_arg1)" required="true"/>


    <group ns="uav">

		<!-- MAVROS posix SITL environment launch script -->
		<!-- launches MAVROS, PX4 SITL, Gazebo environment, and spawns vehicle -->
		<!-- vehicle pose -->
		<arg name="x" default="0"/>
		<arg name="y" default="0"/>
		<arg name="z" default="0"/>
		<arg name="R" default="0"/>
		<arg name="P" default="0"/>
		<arg name="Y" default="0"/>
		<!-- vehicle model and world -->
		<arg name="est" default="ekf2"/>
		<arg name="vehicle" default="iris"/>
		<arg name="sdf" default="$(find mavlink_sitl_gazebo)/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    	<env name="PX4_SIM_MODEL" value="$(arg vehicle)" />

		<!-- MAVROS configs -->
		<arg name="fcu_url" default="udp://:14540@localhost:14557"/>
		<arg name="respawn_mavros" default="false"/>
		
		<!-- gazebo model -->
    	<node name="$(anon vehicle_spawn)" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf -file $(arg sdf) -model $(arg vehicle) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
		
		<!-- MAVROS -->
		<include file="$(find mavros)/launch/px4.launch">
			<!-- GCS link is provided by SITL -->
			<arg name="gcs_url" value=""/>
			<arg name="fcu_url" value="$(arg fcu_url)"/>
			<arg name="respawn_mavros" value="$(arg respawn_mavros)"/>
		</include>
	</group>

	<!-- TODO : Move UGV to launch file in ground vehicle package and include it here -->
	<!-- UGV -->
    <group ns="ugv">
        <!-- MAVROS and vehicle configs -->
        <arg name="ID" value="1"/>
		<arg name="vehicle" default="rover"/>
        <arg name="fcu_url" default="udp://:14541@localhost:14581"/>
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find px4)/launch/single_vehicle_spawn.launch">
			<!-- vehicle pose -->
			<arg name="x" value="0"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
			<!-- vehicle model and config -->
			<arg name="est" default="ekf2"/>
            <arg name="vehicle" value="$(arg vehicle)"/>
            <arg name="ID" value="$(arg ID)"/>
            <arg name="mavlink_udp_port" value="14561"/>
            <arg name="mavlink_tcp_port" value="4561"/>
            <arg name="gst_udp_port" value="$(eval 5600 + arg('ID'))"/>
            <arg name="video_uri" value="$(eval 5600 + arg('ID'))"/>
            <arg name="mavlink_cam_udp_port" value="$(eval 14530 + arg('ID'))"/>
        </include>
        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>
    </group>

	
	<!-- Our node to control the drone -->
	<node pkg="uav_control" type="uav_control" name="uav_control_node_py" required="true" output="screen" />
</launch>